*{
    color: #1D1B20;
}

h5, h6{
    margin-bottom: 0;
}

h5{
    font-size: 14px;   
}

h6{
    font-size: 12px;
    font-weight: 400;      
}

i{
    font-size: 1.3em;
}

#properties{
    padding: 1% 0 0 2%;        
    max-width: 55vw;
}

#properties-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
}

#white-header{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;   
    padding: 1em; 
    padding-bottom: 0.3em;
}

#options{
    position: absolute;
    right: 1.5em;
    top: 1em;
}

.card{
    max-width: 18em;
    max-height: 55vh;
    font-size: 12px;
}

.card-body{
    display: flex;
    flex-direction: column;    
    align-items: space-between;
    padding: 1.5em;
}

.white-header-data{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;    
}

.persona{
    width: 2fr;

}

.profile-pic{
    width: 2.5em;
    height: 2.5em;
    background-color: #F15757;
    border-radius: 50%;
}

.card img{
    height: 10em;
    border-radius: 0;
}

.detalles{
    border: 2px solid #F15757;
    background-color: #FFFF;
    color: #F15757;
    font-weight: bold;
}