*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.btn-primary{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: 0.2em;
    max-width: 60%;
    max-height: 2.5em;
    background-color: #F15757; 
    border: 2px solid #F15757;   
    border-radius: 2em;
    font-size: 12px;
    padding: 0.5em;
    padding-inline: 1em;
    box-shadow: none;
}

.btn-primary:hover{
    background-color: #C14646;
    border: 2px solid #C14646;  
    box-shadow: none;  
}

#buttons{
    display: flex;    
    justify-content: flex-end;
}