h1{
    font-size: 22px;
    margin-bottom: 1em;
    color: #1D1B20;
    font-weight: 500;
}

.left-col{
    display: flex;
    flex-wrap: wrap;
    width: 6fr;
}

.right-col{
    display: flex;
    flex-wrap: wrap;
    width: 4fr;
}

#home-page{
    display: grid;    
    grid-template-columns: 6fr 4fr;
    width: 100%;
    padding: 0 2% 0 12%;    
}

#graph-container{
    width: 34%;    
    align-self: flex-end;
    padding: 2%;
}

#graph{
    width: 100%;
    height: 100%;    
}

#calendar-container{
    height: 45vh;
    width: auto;    
    align-self: flex-end;
    padding: 2%;
}

#calendar{
    width: 100%;
    height: 100%;    
}