h1{
    font-size: 22px;
    margin-bottom: 1em;
    color: #1D1B20;
    font-weight: 500;
}

.left-col{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}


#home-page{
    display: grid;    
    width: 100%;
    padding: 0 2% 0 12%;    
}

#graph-container{
    width: 34%;    
    align-self: flex-end;
    padding: 2%;
}

#graph{
    width: 100%;
    height: 100%;    
}

#calendar-container{
    display: flex;
    height: 50vh;
    width: auto;
    margin-left: 2em;
    padding-top: 3%;
    padding-left: 3%;
    align-self: flex-start;
}

#calendar{
    width: 100%;
    height: 100%;        
}

.align-col{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;    
}

.align-row{
    display: flex;
    flex-direction: row;
    gap: 1em;
}