body {
    background-color: #fbfbfb;
    font-family: 'Roboto', sans-serif;
  }
  @media (min-width: 991.98px) {
    main {
      padding-left: 240px;
    }
  }
  
  /* Sidebar */
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 60px 0 30px; 
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    /* box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3),0px 1px 3px 1px rgba(0,0,0,0.15); */
    width: 180px;
    z-index: 600;
  }
  
  @media (max-width: 991.98px) {
    .sidebar {
      width: 100%;
    }
  }
  .sidebar .active {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);    
  }
  
  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }

  .list-group-item{
    height: 3em;
    border-bottom: none;
    line-height: 1.2em;
    font-size: 16px;    
    color: #1D1B20;
    font-weight: 500;
    padding: 0.2em 0 0 0.2em;
  }

  .dropdown-toggle{
    border: none;
    background-color: #FFFF;
    color: #1D1B20;
    font-weight: 500;
  }

  .dropend-item{
    border: none;
    padding: 1em;
    height: auto;
  }

  .dropend-item:hover{
    background-color: #FEF7FF;
  }

  #prop-dropend{
    display: flex;    
    justify-content: flex-end;
    align-content: center;
  }

  #main-navbar{
    height: 4em;
    box-shadow: none;
  }

 #logo{
    padding: 0.5em;
 }

 #icons-nav{
  display: flex;
  width: 13em;
  justify-content: space-evenly;
 }

 #icon{
  font-size: 1.5em;
 }