p{
    margin: 0;
}

.container {
    color: #1D1B20;      
}

.card {
    max-width: 18em;
    font-size: 12px;
}

.card-header {
    padding: 0.5em 0 0.2em 1em;
}

.title{
    font-size: 22px;    
}

.title h1{
    margin: 0.2em;
}

.card-body {
    padding: 1.5em;
    display: flex;
    flex-direction: column;
}

.card-footer {
    display: flex;    
    height: 5em;    
    justify-content: flex-end;
    align-items: center;
}

.event-row {
    display: flex;
    justify-content: space-between;    
    max-height: 3em;
    padding: 0.2em;    
}

#events{   
    width: 4fr;
    height: 100%;
    align-self: flex-end;
    /* padding-inline: 3em;
    padding-top: 4em; */
}

#events-card{
    max-width: 90%;
    height: 40vh;
    font-size: 14px;    
}

#calendar-btn{
    max-width: 12em;
}