.container {
    color: #1D1B20;      
}

.card {
    max-width: 18em;
    max-height: 55vh;
    font-size: 12px;
}

.card-header {
    padding: 1em;
}

.title{
    font-size: 22px;
}

.card-body {
    padding: 1.5em;
    display: flex;
    flex-direction: column;
}

.checkbox{
    width: 2em;
}

.card-footer {
    display: flex;
    justify-content: flex-end;
}

.event-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#events{   
    width: 35%;
    height: 100%;
    align-self: flex-end;
    padding-inline: 3em;
    padding-top: 4em;
}

#events-card{
    max-width: 90%;
    height: 100%;
    font-size: 14px;
    font-weight: 500;    
}

#buttons{
    width: 100%;    
}

#calendar-btn{
    max-height: 5em;
}

/* #ocultarCheckbox{

} */