.principal {
  background-color: #fbf6f6;
  padding: 0.5em;
  padding-inline: 1em;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 550px;
}
.item {
  display: grid;
  grid-template-columns: 3fr 3fr 1fr;
  height: 3.5em;
  padding: 0.2em;
  align-items: center;
  font-size: 16px;
}

.picture {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(251, 131, 95, 0.3);
  color: #c14646;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1em;
}

.broker {
  display: flex;
  width: 2fr;
  padding-left: 0.5em;
}

.agent-label {
  font-size: 12px;
  font-weight: 500;
  color: #79747e;
}

#clients {
  margin: 3em 0 0 13em;
  width: 40%;
}