.miFormCasa {
    display: flex;
    flex-direction: column;
    grid-gap: 1cap;
    padding: 0 5% 5% 5%;
    max-width: 50%;
}

.miFormCasa input {
    border-radius: 5px;
    border: 1px solid;
}

.miDireccionCasa,
.miTextboxCasa,
.miImagenesCasa {
    display: flex;
    flex-direction: column;
}

.grupoImg div {
    display: flex;
    flex-direction: column;
}

.grupoCasa1 div {
    display: flex;
    flex-direction: column;
}

.grupoCasa1 {
    display: flex;
    flex-direction: row;
    grid-gap: 1%;
}

.grupoCasa1 div {
    flex: 1;
    max-width: 32.6%;
}

.miBotonCasa {
    margin-top: 4%;
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: 0.2em;
    background-color: #FF9E81;
    border: 2px solid #FF9E81;
    border-radius: 2em;
    font-size: 12px;
    padding: 0.5em;
    padding-inline: 1em;
    box-shadow: none;
    font-size: medium;
}

#textboxCasa {
    height: 100px;
}

/* En tu archivo de estilos FormCasa.css o en tu archivo de estilos principal */

.grupoTextCasa {
    display: flex;
    flex-wrap: wrap;
}

.grupoTextCasa div {
    flex: 0 0 33.33%;
    /* Cada grupo tiene un ancho del 33.33% del contenedor */
    box-sizing: border-box;
    /* Asegura que el padding no afecte el tamaño total */
    margin-bottom: 10px;
    /* Espacio entre los grupos */
}